modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Fitomics App"

[[workflows.workflow]]
name = "Fitomics App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run \"App Overview.py\" --server.port 5000 --server.headless true"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41579
externalPort = 3001

[agent]
integrations = ["web_scraper==1.0.0", "python_openai==1.0.0", "python_anthropic==1.0.0"]
